@charset "UTF-8";

/*estilo para impressora*/

*{
    margin: 10px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

header{
    text-align: center;
}

menu{
    display: none;
}

h2{
    text-align: center;
}

article{
    width: 800px;
}
article::after{
    content: 'esse artigo foi impresso através do site "comiseucu.com"';
}
